
@font-face {

    font-family: "Helvetica Neue";

    src: url("../fonts/HelveticaNeue-Thin.otf");
    font-weight: normal;
    font-style: normal;

}











header {
    width: 1215px;
    margin: 0 auto;
    /*height: 50px;*/
}

ul {
    background: #074e8c;
    height: 45px;
    padding-top: 5px;
    overflow: hidden;
}

.underlined {
    text-decoration: underline;
}


.li_casual {
    float:right;
    font:bold 14px "Helvetica Neue";
    color:#60b5ed;
    padding: 12px 9px;
}

.special {
    background-color: rgba(69, 154, 212, 0.6);
    color: white;
}

.bor_le  {
    border-right:2px solid #56a2dc;
}

.bor_left {
margin-left:8px;
    padding-left: 35px;
    position: relative;
    top:-9px;
    margin-right: 5px;
}

.bor_left:before {
    content:'';
    background-image: url('../img/flag.png');
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 21px;
    height: 23px;
    top:5px;
    left: -18px;

}

.li_casual:hover {
    color:#ffffff;
    background: #4eabda;
    cursor: pointer;
}


article {
    background: url(../img/bg.jpg) 100% 100% no-repeat;
    width: 1215px;
    height: 1028px;
    margin: 0 auto;
    position: relative;
}

.form_holder {
    position: absolute;
    margin:0 auto;
    top: 0;
    right: 0;
    left: 30%;
    bottom: 0;
 /*HEREEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE TO THE BOTTOM I GO*/
}

.head_of_forms {
    background: rgba(0, 0, 0, 0.5);
    width: 558px;
    height: 61px;
    position: relative;
}

.h1white {
    color: #fff;
    text-align: center;
    position: relative;
    top: 35%;
    right: 0;
    left: 0;
    bottom: 0;
    margin:50% auto;
    vertical-align: middle;
    font:bold 24px 'Helvetica Neue';
}

.form_body {
    height: 547px;
    width: 558px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 2px;
    position: relative;
}

.fb {
    -margin-top: 35px;
    position: absolute;
    margin: 35px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.lines {
    -margin-top: 75px;
    position: absolute;
    margin: 105px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ou {
    text-align: center;
    position: absolute;
    margin: 100px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font:14px "Helvetica Neue";
    color: #999999;
}

.input_holder {
 top: 142px;
    position: absolute;
    margin: 0 auto;

    left: 25%;
    right: 0;
    bottom: 0;
}

.form_input  {
    display: block;
    margin-bottom: 17px;
    background: black;
    border-color: black;
    color:white;
    width: 275px;
    height: 33px;
    font-family: "Helvetica Neue";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.form_input:focus {
    background: #1b5288;
    border-color: transparent;

}

input::-webkit-input-placeholder {
    -padding-right: 20px;
    color: white;
    opacity:0.7;
    position: relative;
    left:15px;
}

label {
    color:white;
    font:14px "Helvetica Neue";
}

.button_gradient {
    display: block;
    text-align: center;
    width: 151px;
    height: 35px;
    margin-top: 10px;
    position: relative;
    left: 15%;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#6bb8e7), to(#2e7ac4));
    border: transparent;
    cursor: pointer;
    color:white;
    font:14px "Helvetica Neue";
}

.license {
    text-align: left;
    color:#fff;

    font:11px "Helvetica Neue";
    position: relative;
    top: 15px;

}
.gocenter {
    text-align: center;
    position: relative;
    left: 22%;

}